In [3]:
import pandas as pd

In [4]:
# Carga el archivo CSV omitiendo las dos primeras filas problemáticas
data = pd.read_csv('../data/ibex_data.csv', skiprows=2)

data.head()

,Date,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2012-01-03 00:00:00+00:00,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000
1,2012-01-04 00:00:00+00:00,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000
2,2012-01-05 00:00:00+00:00,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000
3,2012-01-06 00:00:00+00:00,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000
4,2012-01-09 00:00:00+00:00,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000

In [5]:
# Renombra las columnas para que tengan sentido y para evitar "Price"
data.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

data.head()

,Date,Adj Close,Close,High,Low,Open,Volume
0,2012-01-03 00:00:00+00:00,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000
1,2012-01-04 00:00:00+00:00,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000
2,2012-01-05 00:00:00+00:00,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000
3,2012-01-06 00:00:00+00:00,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000
4,2012-01-09 00:00:00+00:00,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000

In [6]:
# Opcionalmente, convierte la columna 'Date' en un índice de fecha
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)