# Preprocesamiento de datos

En este cuaderno limpiaremos los datos que hemos obtenido haciendo webscrapping.

Primero importamos librerías.

In [73]:
import pandas as pd
import numpy as np

Cargamos los datos.

In [74]:
# Carga el archivo CSV omitiendo las dos primeras filas problemáticas.
data = pd.read_csv('../data/ibex_data.csv', skiprows=2)

data.head()

,Date,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2012-01-03 00:00:00+00:00,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000
1,2012-01-04 00:00:00+00:00,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000
2,2012-01-05 00:00:00+00:00,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000
3,2012-01-06 00:00:00+00:00,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000
4,2012-01-09 00:00:00+00:00,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000

Renombramos las columnas para que coincidan con sus valores.

In [75]:
# Renombra las columnas para que tengan sentido.
data.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

data.head()

,Date,Adj Close,Close,High,Low,Open,Volume
0,2012-01-03 00:00:00+00:00,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000
1,2012-01-04 00:00:00+00:00,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000
2,2012-01-05 00:00:00+00:00,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000
3,2012-01-06 00:00:00+00:00,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000
4,2012-01-09 00:00:00+00:00,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000

Vemos los tipos de datos.

In [76]:
data.dtypes

Date          object
Adj Close    float64
Close        float64
High         float64
Low          float64
Open         float64
Volume         int64
dtype: object

Convertimos la columna `Date` a objeto datetime y la convertimos en el índice del DataFrame, una práctica común para hacer series temporales. Además eliminamos la hora de la fecha ya que no es relevante.

In [77]:
# Convertimos la columna 'Date' en un índice de fecha
data['Date'] = pd.to_datetime(data['Date'])
data['Date'] = data['Date'].dt.date  # Extrae solo la fecha (sin horas)
data.set_index('Date', inplace=True)

data.head()

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2012-01-03,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000
2012-01-04,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000
2012-01-05,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000
2012-01-06,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000
2012-01-09,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000

Vemos si hay datos nulos.

In [78]:
data.isnull().sum()

Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

Aseguramos que no haya habido errores al importar los datos y que no haya duplicados.

In [79]:
data.duplicated().sum()

0

Podemos agregar columnas de más que puedan darnos características útiles extras.

In [80]:
# Calcular características adicionales útiles
data['Daily Range'] = data['High'] - data['Low']  # Rango del día
data['Price Change'] = data['Close'] - data['Open']  # Cambio diario de precio
data['Log Volume'] = np.log1p(data['Volume'])  # Volumen logarítmico

data.head()

,Adj Close,Close,High,Low,Open,Volume,Daily Range,Price Change,Log Volume
Date,,,,,,,,,
2012-01-03,8732.391602,8732.400391,8743.299805,8597.099609,8739.200195,186689000,146.200195,-6.799805,19.044955
2012-01-04,8581.791016,8581.799805,8701.299805,8526.799805,8683.400391,243803000,174.500000,-101.600586,19.311871
2012-01-05,8329.590820,8329.599609,8598.700195,8301.200195,8598.700195,192704000,297.500000,-269.100586,19.076666
2012-01-06,8289.090820,8289.099609,8445.900391,8233.799805,8369.700195,153765000,212.100586,-80.600586,18.850936
2012-01-09,8278.891602,8278.900391,8404.400391,8250.099609,8314.500000,173948000,154.300781,-35.599609,18.974267

Consideramos una columna clave `Adj Close` ya que es útil para un análisis a largo plazo porque muestra el valor real, considerando los dividendos y otras operaciones corporativas.

Ahora que el análisis ha terminado, exportamos los datos limpios.

In [81]:
data.to_csv('../data/ibex_data_clean.csv')